
.centered-content {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto;
}
